#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=IB Gateway 10.19
Exec="/root/Jts/ibgateway/10.19.1j/ibgateway" %U
Icon=/root/Jts/ibgateway/10.19.1j/.install4j/ibgateway.png
Categories=Application;
StartupWMClass=install4j-ibgateway-GWClient
